:root { 
--pink_400_26:#f2398526; 
--deep_purple_800:#281bca; 
--bluegray_400_33:#707eae33; 
--green_900:#00632b; 
--bluegray_400_38:#707eae38; 
--teal_900:#00523c; 
--deep_orange_300:#fe8f66; 
--deep_purple_A200:#783efd; 
--teal_A700_0f:#00dea30f; 
--teal_A700:#00dea3; 
--bluegray_300_33:#8e9ab933; 
--lime_900:#966300; 
--bluegray_400_44:#707eae44; 
--black_900_0f:#0000000f; 
--black_900_0c:#0000000c; 
--blue_52:#e8ecfe; 
--blue_50:#e9eeff; 
--blue_51:#eaeeff; 
--white_A700_21:#ffffff21; 
--indigo_400:#5a55d2; 
--bluegray_600:#5a6689; 
--bluegray_401:#76809d; 
--bluegray_400:#707eae; 
--bluegray_200:#adb5cf; 
--blue_100:#cbe3ff; 
--white_A700:#ffffff; 
--deep_purple_900:#1308a0; 
--blue_A700:#2563eb; 
--red_900:#b01212; 
--light_blue_400_0f:#1bc0ed0f; 
--amber_A200:#ffcc40; 
--gray_50:#f9f9fa; 
--red_50:#ffeaea; 
--teal_400:#26a17b; 
--black_900:#000000; 
--black_902:#060a10; 
--yellow_900:#f7931a; 
--black_901:#070707; 
--gray_903:#1c1f27; 
--gray_904:#222827; 
--pink_400:#f23985; 
--gray_901:#00261c; 
--gray_902:#311d05; 
--indigo_50:#ededfc; 
--blue_600:#3f81d3; 
--gray_900:#0d1e30; 
--bluegray_100:#d9d9d9; 
--green_50:#e7fbf0; 
--gray_101:#eff3fd; 
--gray_300:#e1e3e7; 
--gray_100:#f6f6f6; 
--teal_A400:#00eaac; 
--bluegray_900:#333333; 
--cyan_300:#48d1d8; 
--orange_50:#fff5d5; 
--bluegray_500:#6e6b99; 
--bluegray_300:#9199b1; 
--indigo_A400:#4c40e6; 
--indigo_500:#335dd2; 
}